@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* Start Global Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "roboto", sans-serif;
}

.container {
  padding: 0 14% 0 14%;
  margin-left: auto;
  margin-right: auto;
}

li,
a,
p,
button {
  text-decoration: none;
  list-style: none;
  font-size: 20px;
  color: #e5e7eb;
  text-align: left;
}

/* End Global Rules */

/* Start Header */

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 4%;
  gap: 20px;
  background-color: #1f2937;
}

.logo {
  margin: 0 auto 0 0;
  cursor: pointer;
  font-size: 26px;
  font-weight: 700;
  color: #f9faf8;
}

/* End Header */

/* Start Hero */

.Hero {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  background-color: #1f2937;
  padding-top: 5%;
  padding-bottom: 5%;
}

.left button {
  background-color: #3882f6;
  margin-top: 18px;
  padding: 1.7% 7.2% 1.7% 7.2%;
  font-weight: bold;
  border: none;
  border-color: #3882f6;
  border-radius: 10px;
}

.left h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.right {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6a7175;
  padding: 11% 13% 11% 13%;
}

.right p {
  white-space: nowrap;
}

/* End Hero */

/* Start Content */

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
  padding-bottom: 7%;
}

.content h2 {
  align-self: center;
  padding-bottom: 5%;
  text-align: center;
  font-size: 38px;
  font-weight: 900;
  color: #1f2937;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 15%;
}

.card .image {
  padding: 50%;
  border: 5px solid #3882f6;
  border-radius: 10px;
}

.card p {
  padding-top: 16px;
  font-size: 18px;
  text-align: center;
  color: #6a7175;
}

/* End Content */

/* Start Quote */

.Quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e7e8e9;
}

.quote {
  max-width: 70%;
  padding-top: 12%;
  padding-bottom: 1%;
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  font-weight: 300;
}

.author {
  color: #1f2937;
  font-weight: bold;
  align-self: self-end;
  padding-right: 19%;
  font-size: 23px;
  padding-bottom: 10%;
}
